name: RDP Tailscale

on: workflow_dispatch

jobs:
  rdp:
    runs-on: windows-latest
    steps:
      - name: Install Tailscale
        run: |
          choco install tailscale -y

      - name: Connect to Tailscale
        run: |
          tailscale up --authkey ${{ secrets.TAILSCALE_AUTHKEY }} --hostname github-rdp

      - name: Enable RDP
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
